body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #494949;}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #494949;}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #494949;}
	
h1 {  
	font-family: Arial; 
	font-weight: bold; 
	font-size: 20px; 
	color: #000000}

h2 {
	font-family: Arial; 
	font-size: 16px; 
	font-weight: bold; 
	color: #000000}

h3 {  
	font-family: Arial; 
	font-size: 16px; 
	font-weight: bold; 
	color: #990033}
	
.disclaimer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: none;
	color: #FFFFFF}

.home {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: none;
	color: #FFFFFF}
	
.foottext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: none;
	color: #D4E4EC}

	
A { font-family: Verdana, Arial, sans-serif; color:#2C4293; text-decoration:underline; font-weight:bold; font-size:11px;}
A:hover { color:#28304D; text-decoration:underline;}
A:active { color:#28304D; text-decoration:underline;}
A:visited { color:#2C4293; text-decoration:underline;}
A:visited:hover { color:#28304D; text-decoration:underline;}

A.bodylink { font-family: Verdana, Arial, sans-serif; color:#2A9500; text-decoration:underline; font-weight:bold; font-size:11px;}
A.bodylink:hover { color:#124D3D; text-decoration:underline;}
A.bodylink:active { color:#124D3D; text-decoration:underline;}
A.bodylink:visited { color:#2A9500; text-decoration:underline;}
A.bodylink:visited:hover { color:#124D3D; text-decoration:underline;}

A.navlink { font-family: Verdana, Arial, sans-serif; color:#FFFFFF; text-decoration:none; font-weight:none; font-size:10px;}
A.navlink:hover { color:#FFF7B6; text-decoration:underline;}
A.navlink:active { color:#FFF7B6; text-decoration:underline;}
A.navlink:visited { color:#FFFFFF; text-decoration:none;}
A.navlink:visited:hover { color:#FFF7B6; text-decoration:underline;}

A.footlink { font-family: Verdana, Arial, sans-serif; color:#FFFFFF; text-decoration:none; font-weight:bold; font-size:10px;}
A.footlink:hover { color:#FFFFFF; text-decoration:underline;}
A.footlink:active { color:#FFFFFF; text-decoration:underline;}
A.footlink:visited { color:#FFFFFF; text-decoration:none;}
A.footlink:visited:hover { color:#FFFFFF; text-decoration:underline;}

.formfield {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-color: #C2C2AA;
	
}

.formfield2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #6B6D6B;
	background-color: #E1E6E1;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #404040;
	border-right-color: #404040;
	border-bottom-color: #404040;
	border-left-color: #404040;
}

