/admin.old/*
/admin_bak/*
/images_bak/*
/phpMyAdmin-2.11.11.3-all-languages/*
/.bak/*
/hmtl.tar.gz
/www.identikid.com.au-access.log.1.gz
/dataexport.zip
/php-my-admin/*
/log/*
/.git.bak
admin/webdb/*
webdb/*
nbproject/*
