RewriteEngine On

#Order Allow,Deny
#Allow from 110.175.248.74
#Allow from 150.101.121.69


RewriteCond %{REQUEST_FILENAME} -f [NC,OR]
RewriteCond %{REQUEST_FILENAME} -d [NC]
RewriteRule .* - [L]
RewriteRule ^([A-Za-z0-9-_\s~><?&!()\@\=\|\*\"\:\|\;\,\+\'\/]+)$ content.php?page_name={$1} [L]
php_value date.timezone "Australia/NSW"
