/* Basic jQuery Slider essential styles */
#banner-fade{margin:0 auto; }
ul.bjqs{position:relative; list-style:none;padding:0;margin:0 auto;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
li.bjqs-prev a{display:inline-block;overflow:hidden;line-height:100px;
background:url(/arrows-metallic.png) no-repeat 0px 0px;
height:36px;
width:36px;
  }
li.bjqs-next a{display:inline-block;overflow:hidden;line-height:100px;
background:url(/arrows-metallic.png) no-repeat -43px 0px;
width:36px;
height:36px;
  }
li.bjqs-prev a:hover{
background-position:0px -35px;
}
li.bjqs-next a:hover{
background-position:-43px -35px;
}
.bjqs-markers{
display:none;
}
