@font-face {
    font-family: 'comic_sans_msregular';
    src: url('../fnt/comic-webfont.eot');
    src: url('../fnt/comic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fnt/comic-webfont.woff') format('woff'),
        url('../fnt/comic-webfont.ttf') format('truetype'),
        url('../fnt/comic-webfont.svg#comic_sans_msregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kidsregular';
    src: url('../fnt/kidsn-webfont.eot');
    src: url('../fnt/kidsn-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fnt/kidsn-webfont.woff') format('woff'),
        url('../fnt/kidsn-webfont.ttf') format('truetype'),
        url('../fnt/kidsn-webfont.svg#kidsregular') format('svg');
    font-weight: normal;
    font-style: normal;


}

@font-face {
    font-family: 'swis721_cn_btroman';
    src: url('../fnt/swz721c-webfont.eot');
    src: url('../fnt/swz721c-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fnt/swz721c-webfont.woff') format('woff'),
        url('../fnt/swz721c-webfont.ttf') format('truetype'),
        url('../fnt/swz721c-webfont.svg#swis721_cn_btroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'girls_are_weirdregular';
    src: url('../fnt/girlw3__-webfont.eot');
    src: url('../fnt/girlw3__-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fnt/girlw3__-webfont.woff') format('woff'),
        url('../fnt/girlw3__-webfont.ttf') format('truetype'),
        url('../fnt/girlw3__-webfont.svg#girls_are_weirdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'impress_btregular';
    src: url('../fnt/impressn-webfont.eot');
    src: url('../fnt/impressn-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fnt/impressn-webfont.woff') format('woff'),
        url('../fnt/impressn-webfont.ttf') format('truetype'),
        url('../fnt/impressn-webfont.svg#impress_btregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'technicalregular';
    src: url('../fnt/technicn-webfont.eot');
    src: url('../fnt/technicn-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fnt/technicn-webfont.woff') format('woff'),
        url('../fnt/technicn-webfont.ttf') format('truetype'),
        url('../fnt/technicn-webfont.svg#technicalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}         

@font-face {
    font-family: 'soupboneregular';
    src: url('../fnt/soupbone-regular-webfont.eot');
    src: url('../fnt/soupbone-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fnt/soupbone-regular-webfont.woff') format('woff'),
        url('../fnt/soupbone-regular-webfont.ttf') format('truetype'),
        url('../fnt/soupbone-regular-webfont.svg#soupboneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'soupbonebold';
    src: url('../fnt/soupbone-bold-webfont.eot');
    src: url('../fnt/soupbone-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fnt/soupbone-bold-webfont.woff') format('woff'),
        url('../fnt/soupbone-bold-webfont.ttf') format('truetype'),
        url('../fnt/soupbone-bold-webfont.svg#soupbonebold') format('svg');
    font-weight: normal;
    font-style: normal;
}            

@font-face {
    font-family: 'TektonPro-Bold';
    src: url('../fnt/TektonPro-Bold.eot');
    src: url('../fnt/TektonPro-Bold.woff') format('woff'), 
        url('../fnt/TektonPro-Bold.ttf') format('truetype'), 
        url('../fnt/TektonPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: arial;
    font-size:13px;
}
#designer_container{
    width:800px;
    margin:0 auto;
    border:solid 2px #efefef;
    position:relative;
    text-align:center;
    padding-top: 5px;
    overflow:hidden;
}

.required-field {
    border: red dashed 1px;
}

.btn {
     background: none repeat scroll 0 0 #00B0E0;
    border: 2px solid #000000;
    color: #FFFFFF;
    margin: 5px;
    padding: 5px 10px;
}
