.browser-incompactible{
    display:block;
}

.view-order-list .browser-incompactible{
    display:none !important;
}

/* pencil labels  */
#pencil_labels .individual_preivew {
    height: 106px !important;
    width: 355px !important;
}

#pencil_labels .individual_preivew .preview_text{
    left:40px;
}

/* permanent iron  */
#permanent-iron-ons .preview_text{
    line-height: 1.25 !important;
}

#permanent-iron-ons .preview_phone{
    line-height: 1.25 !important;
}

#permanent-iron-ons .designer-options{
    margin-top: 0px !important;
}

#permanent-iron-ons .fixed_preview{
    border: none !important;
}

/* shoe dots */
#shoe-dots .fixed_preview{
    height:180px !important;
    border: none !important;
}

#shoe-dots .designer-options{
    margin-top: 0px !important;
}

/* vinyls-mini*/

#vinyls-mini .preview_text{
    line-height: 1.25 !important;
}

#vinyls-mini .preview_phone{
    line-height: 1.25 !important;
}

#vinyls-mini .designer-options{
    margin-top: 0px !important;
}

#vinyls-mini .fixed_preview{
    border: none !important;
}

#vinyls-mini #designer_preview_text{
    right: -6px !important;
}

/*pencil_labels*/
#pencil_labels .preview_text{
   line-height: 1.25 !important;
   margin-top: -2px !important;
}

#pencil_labels .designer-options{
    margin-top: -80px !important;
}

#pencil_labels .fixed_preview{
    border: none !important;
}

/**colour-my-world*/
#colour-my-world .designer-options{
    margin-top: 0px !important;
}

#colour-my-world .fixed_preview{
    border: none !important;
    width: 800px !important;
}




/* vinyl-wrapper */
#vinyl-wrapper .preview_text{
    line-height: 1.25 !important;
}

#vinyl-wrapper .preview_phone{
    line-height: 1.25 !important;
}

#vinyl-wrapper #designer_options_font ol lo.3{
    margin-top:5px;
    padding-bottom:10px;
    padding-top:10px;

}

#vinyl-wrapper #designer_options_font ol li.4{
    padding:0;
}

#vinyl-wrapper .designer-options{
    margin-top: 0px;
}

#vinyl-wrapper .fixed_preview{
    border: none;
    width: 800px;
}

.scroll-down {
   right:17px !important;
   bottom: 82px;
}

.designer-options{
    border-top: 2px solid #EFEFEF;
    border-bottom: 2px solid #EFEFEF;
}


/*semi permanent irons*/

#semi-permanet-irons-ons .preview_text{
    line-height: 1.25 !important;
}

#semi-permanet-irons-ons .preview_phone{
    line-height: 1.25 !important;
}

 #semi-permanet-irons-ons .fixed_preview{
    border: none !important;
}

 #semi-permanet-irons-ons .designer-options{
    margin-top: 25px !important;
}


/* starter-pack */
#starter-pack #designer_container .fixed_preview {
    border: none !important;
}

#starter-pack .designer-options{
    margin-top: 14px !important;
}

#starter-pack #designer_preview_text {
    width:180px;
}

/* senior-packs*/
#senior-packs #designer_container .fixed_preview {
    border: none !important;
}

#senior-packs .designer-options{
    margin-top: 14px !important;
}
