ol,ul{padding:0;margin:0;}       

ul,li{list-style:none;}
/*li{float:left;}*/
strong{display:block;clear:both;}

.preview_image_set{
    position:absolute;
    top:12px;
    left:10px;

}

#designer_options_picture ul li{
    width:32px;
    height:32px;
    border:solid 2px #666;
    padding:1px;
    margin:2px;
}
.font_colour_black,.font_colour_white{border:solid 1px #666;}
.font_colour_black{width:20px;height:20px;background:#000000;display:inline-block;}
.font_colour_white{width:20px;height:20px;background:#ffffff;display:inline-block;}

#designer_options_picture ul li{
    width:60px;
    height:60px;
    border:solid 2px #666;
    padding:1px;
    margin:2px;
}

.preview_image{
    width:60px;
    height:60px;
}
.preview_image_set{
    width:45px;
    height:25px;
    display:inline-block;
}

#designer_options_colours ul li{float:none;height:50px; cursor:pointer;}
#designer_options_colours ul li span{
    display:inline-block;
    width:20px;
    height:20px;
    float:left;
    margin:2px;
    border:solid 2px #666;
}

.selected{
    border:solid 2px #00B0E0 !important
}



#designer_options_identitags{
    display:block;
    width:450px;
}
#designer_options_identitags ul.tags{
    width:450px;
}

.box{
    position:relative;
    clear:both;
    margin-bottom:20px;
    margin: 0 auto;
    width: 300px;
}
#designer_options_details strong{display:inline;clear:none;}
#designer_options_details{text-align:center;margin-top:400px;}

#designer_options_font{
    /*float:left;*/
    width:275px;
    text-align:left;
    margin-bottom:30px;
}
#designer_options_font li {
    font-size:28px;
    float:none;
}

#designer_options_font_colour{
    /*float:left;*/
    width:170px;
    text-align:left;
}
#designer_options_font_colour{

    margin-bottom:30px;
}

#designer_options_font_colour span {
    cursor:pointer;
}
#designer_options_colours{
    /*float:left;*/
    width:350px;
    text-align:left;
    margin-bottom:30px;
}

#designer_options_label ul li{float:none;}

#designer_options_identitags{
    text-align:left;
}
#designer_options_identitags input{
    margin-left:50px;
    font-weight:bold;
}

#designer_options_label{
    position:absolute;
    top:0;
    right:0;
    width:320px;
}

#designer_options_ironon_colour{
    position:absolute;
    top:200px;
    right:0;
    width:320px;
}

#designer_options_ironon_colour ul li span{
    width:20px;
    height:20px;
    display:inline-block;
    border:solid 2px #666;
}

button{
    color:#ffffff;
    background:#00B0E0;
    border:solid 2px #000000;
    padding:5px 10px;
    margin:5px;
}

#designer_preview {
    position:relative;
}


.designer_preview_rainbow_a {
    background: url("../images/mini_vinyls/9.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 180px;
    margin: 0 auto 25px;
    overflow: hidden;
    width: 429px;
}

.designer_preview_rainbow_a .preview_text{
    display: block;
    font-family: comic_sans_msregular;
    font-size: 22px;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 320px;
}

.designer_preview_rainbow_a .preview_phone{
    display: block;
    font-family: comic_sans_msregular;
    font-size: 22px;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 136px;
    width: 320px;
}


.designer_preview_rainbow_b {
    height: 180px;
    margin: 0 auto 25px;
    overflow: hidden;
    width: 438px;
    background: url(../images/mini_vinyls/10.png) no-repeat scroll 0% 0% transparent;
}

.designer_preview_rainbow_b .preview_text{
    display: block;
    font-family: comic_sans_msregular;
    font-size: 22px;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 320px;
}

.designer_preview_rainbow_b .preview_phone{
    display: block;
    font-family: comic_sans_msregular;
    font-size: 22px;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 136px;
    width: 320px;
}

.preview_image{
    position: absolute;
    text-align: center;
    width: 60px;
    background-image: url("../images/bwl/1.png");
    height: 60px;
}

.designer_preview_rainbow_b .preview_image, .designer_preview_rainbow_a .preview_image {
    left: 6px;
    top: 100px;

}

.individual_preivew {
    height: 180px;
    margin: 0 auto 25px;
    overflow: hidden;
    width: 438px;
    background: url(../images/mini_vinyls/1.png) no-repeat scroll 0% 0% transparent;
}

.individual_preivew .preview_text{
    display: block;
    font-family: comic_sans_msregular;
    font-size: 22px;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 78px;
    width: 300px;
    left: 42px;
}

.individual_preivew .preview_phone{
    display: block;
    font-family: comic_sans_msregular;
    font-size: 22px;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 108px;
    width: 300px;
    left: 42px;
}

.individual_preivew .preview_image{
    right: 88px;
    top: 74px;
}

#designer_preview_text{
    color: #3A768F;
    font-size: 10px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 76px;
    width: 210px;
}

.error-msg{
    color: red;
}

.detial_text_label{
    font-size: 18px;
}

.block-box {
    text-align: center;
    padding-left:14px;
}

#designer_options_picture ul {
    margin: 0px;
    padding: 0px;
    display:block;
}
#designer_options_picture ul li {
    float:left;
    cursor:pointer;
}

#designer_options_font {
    float:left;
}

.colour-selector{
    float:right;
}

#designer_options_font li table tr td {
    font-size:25px;
    cursor:pointer;
}


