body {
	font-family: Comic Sans MS, Helvetica, sans-serif;
	font-size: 13px;
	color: #494949;}

p {
	font-family: Comic Sans MS, Helvetica, sans-serif;
	font-size: 13px;
	color: #494949;}

td {
	font-family: Comic Sans MS, Helvetica, sans-serif;
	font-size: 13px;
	color: #494949;}
	
h1 {  
	font-family: Comic Sans MS; 
	font-weight: bold; 
	font-size: 22px; 
	color: #000000}

h2 {
	font-family: Comic Sans MS; 
	font-size: 18px; 
	font-weight: bold; 
	color: #000000}

h3 {  
	font-family: Comic Sans MS; 
	font-size: 16px; 
	font-weight: bold; 
	color: #990033}
	
.disclaimer {
	font-family: Comic Sans MS, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: none;
	color: #FFFFFF}

.home {
	font-family: Comic Sans MS, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: none;
	color: #FFFFFF}
	
.foottext {
	font-family: Comic Sans MS, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: none;
	color: #D4E4EC}
	
.product {
	font-family: Comic Sans MS, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #494949;}

	
A { font-family: Comic Sans MS, sans-serif; color:#2C4293; text-decoration:underline; font-weight:bold; font-size:13px;}
A:hover { color:#28304D; text-decoration:underline;}
A:active { color:#28304D; text-decoration:underline;}
A:visited { color:#2C4293; text-decoration:underline;}
A:visited:hover { color:#28304D; text-decoration:underline;}

A.bodylink { font-family: Comic Sans MS, sans-serif; color:#2A9500; text-decoration:underline; font-weight:bold; font-size:13px;}
A.bodylink:hover { color:#124D3D; text-decoration:underline;}
A.bodylink:active { color:#124D3D; text-decoration:underline;}
A.bodylink:visited { color:#2A9500; text-decoration:underline;}
A.bodylink:visited:hover { color:#124D3D; text-decoration:underline;}

A.navlink { font-family: Comic Sans MS, sans-serif; color:#FFFFFF; text-decoration:none; font-weight:none; font-size:12px;}
A.navlink:hover { color:#FFF7B6; text-decoration:underline;}
A.navlink:active { color:#FFF7B6; text-decoration:underline;}
A.navlink:visited { color:#FFFFFF; text-decoration:none;}
A.navlink:visited:hover { color:#FFF7B6; text-decoration:underline;}

A.footlink { font-family: Comic Sans MS, sans-serif; color:#FFFFFF; text-decoration:none; font-weight:bold; font-size:12px;}
A.footlink:hover { color:#FFFFFF; text-decoration:underline;}
A.footlink:active { color:#FFFFFF; text-decoration:underline;}
A.footlink:visited { color:#FFFFFF; text-decoration:none;}
A.footlink:visited:hover { color:#FFFFFF; text-decoration:underline;}

.formfield {
	font-family: Comic Sans MS, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-color: #C2C2AA;
	
}

.formfield2 {
	font-family: Comic Sans MS, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #6B6D6B;
	background-color: #E1E6E1;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #404040;
	border-right-color: #404040;
	border-bottom-color: #404040;
	border-left-color: #404040;
}

/* EDIT: 2005.08.04
	Guan Ming Teo
	Enquiry Form Layout */
form#enquiry_form p { clear: both;
	padding-top: 5px;
	margin: 0; }
form#enquiry_form p label { float: left;
	width: 180px;
	text-align: right;
	padding-right: 10px;
	font-weight: 800; }
form#enquiry_form p input { float: left; }
form#enquiry_form p label.textarea { float: none;
	width: auto;
	text-align: left; }
form#enquiry_form p span { color: #c00;
	clear: left;
	font-weight: 100; }
form#enquiry_form p input.button { margin-left: 70px !important;
	margin-left: 55px;
	background: #f90;
	border: 0;
	padding: 2px 8px;
	color: #fff;
	font: 14px 'Comic Sans MS', cursive;
	font-weight: 800; }
/* EO.EDIT */
